@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
:root{
    --greenColor:#81bb26;
    --lightGray:#e3e7f1;
    --darkBlue:#0a222e;
    --darkColor:#222;
    --twoRows:repeat(2,1fr);
    --threeColumns:repeat(3,33%);
}
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Roboto Condensed',sans-serif;
    font-weight: 100;
}
.home-body{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.grid-container{
    max-width:3200px;
    margin:0 auto;
}
.grid-container-height{
    height:calc(100vh - (400px));
    box-sizing: border-box;
    /* border:1px solid red; */
}
.grid-container h2, h1{
    text-align: center;
    padding-bottom:20px;
    border-bottom:1px solid var(--lightGray);
    margin:50px 0;
    font-size:3em;
}
a{
    text-decoration:none;
    color:black;
    display: inline;
}
header{
    height:150px;
    width:100%;
    display: grid;
    grid-template-rows:var(--twoRows);
}
header .header-iconContainer{
    background-color:var(--greenColor);
    height:75px;
    width:100%;
    display:grid;
}
header .red{
    width:300px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    justify-self: end;
}
header nav a{
    text-decoration: none;
}
.logo-container{
    display: grid;
    grid-template-columns:var(--threeColumns);
    height:75px;
    background-color:var(--darkBlue);
}
.logo-imageContainer{
    margin:0;
    width:75px;
    margin-top:10px;
}
.logo-imageContainer img{
    width:100%;
}
.logo-container a{
    margin-left:50px;
}

.returnBlog{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing:5px;
}
.returnBlog a{
    color:#FFF;
    font-size:2em;
}
.about-link{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin-right:50px;
    font-size:2em;
    letter-spacing:5px;
}   
.about-link a{
    color:#FFF;
}
.about-link a:hover ,
.returnBlog a:hover{
    padding-bottom:10px;
    border-bottom:1px solid;
    transition: all 0.2s ease 0s;
    color: var(--greenColor);   
}

.home-main{
    background-image:url('../images/NewSand/50mil_Front_Frame001.png');
    background-color: #222;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height:calc(100vh - 140px);
    display:grid;
    grid-template-columns:1fr 4fr 1fr;
}
.home-main section{
    display:grid;
    grid-column: 2;
    justify-items:center;
    margin-top:160px;
}
.home-main p{
    color:#FFF;
    font-size:40px;
    letter-spacing: 10px;
    font-weight:700;
    text-align:center;
    display:flex;
    align-items: center;
}
.home-main button{
    background-color:var(--greenColor);
    font-weight:600;
    width:110px;
    height:50px;
    font-size:16px;
    border:none;
    border-bottom:3px solid var(--darkBlue);
    border-radius:5px;
}
.home-main button a{
    color:white;
}
.home-main button a:hover{
    color:var(--darkBlue);
    transition:all 0.5s ease 0s;
}

/* BLOG WELCOME */
main .blog-news-container{
    background-color:var(--lightGray);
    padding:50px 40px;
}
main .blog-news-container .blog-news-main{
    display: grid;
    grid-template-columns:var(--threeColumns);
    grid-template-areas:". title ."
                        "video video description"
                        'video video description'
}
.title{
    grid-area:title;
    font-size:4em;
}
.videoContainer{
    grid-area:video;
    width:100%;
    
}
.videoContainer-responsive{
    position:relative;
    height: 0;
    padding:0;
    overflow: hidden;
    padding-top:56.25%;
}
.video{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    min-width:100%;
    min-height:100%;

}
.description{
    grid-area:description;
    padding:0 10px;
    font-size: 3em;
}
#oscarSite{
    text-decoration: underline;
}
#oscarSite:hover{
    text-decoration: underline;
    color: var(--greenColor);
    transition: all 0.2s ease 0s;
}

/* END BLOG WELCOME */

/* STEP BY STEP GUIDE */
.steps-main-container{
    padding:0 50px;
}

/* A LITTLE GUIDE */

.steps-grid-guide{
    grid-template-areas: "root grains trejo";
    display:grid;
    grid-template-columns: var(--threeColumns);
    grid-gap:10px;
    margin:100px 0;
}

.grid-size{
    border-radius:5px;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align:center;
    padding-bottom: 30px;
    border:1px solid red;
}
.grid-size .grid-imageContainer{
    margin:0;
}
.grid-size img{
    width:100%;
    height: 600px;
    object-fit: cover;
    background-color: #222;
}
.grid-size .grid-details{
    margin:20px 10px;
}
.grid-size .grid-detailsTitle{
    font-weight:700;
    font-size:2em;
    margin:2px 1px;
}
.grid-size .grid-detailsDescription{
    margin-bottom:30px;
}
.grid-size .grid-linkPage{
    color:var(--greenColor);
    border: 2px solid ;
    padding:10px 20px;
    border-radius: 5px;
    letter-spacing: 3px;
    font-weight: 500;
    font-size:1em;
}
.grid-size .grid-linkPage:hover{
    background-color: var(--greenColor);
    color: var(--lightGray);
    border:none;
    box-shadow: 2px 2px 6px 2px rgba(129,187,38,1);
    transition: all 0s ease 0s;
}
.links-page{
    padding:10px 5px;
    margin-top:20px;
    border:1px solid var(--greenColor);
} 

.root{
    grid-area:root;
}
.grains{
    grid-area:grains;
}
.trejo{
    grid-area:trejo;
} 
/* END A LITTLE GUIDE */

/* PROCEDURAL ROOTS GUIDE */

/* END PROCEDURAL ROOTS GUIDE */

/* GRAINS TEMPLATE */
    .sand-grid{
        display:grid;
        grid-template-areas: "sand1 sand2 sand3"
                            "sand4 sand5 sand6";
                            grid-gap:2px;
    }
    .sand-grid-imageContainer{
        margin:0;
        height:35vh;
    }
    .sand-grid div img{
        width:100%;
        height:100%;
        object-fit: cover;
        background-color: var(--darkColor);
    }
    .sand1{
        grid-area: sand1;
    }
    .sand2{
        grid-area: sand2;
    }
    .sand3{
        grid-area: sand3;
    }
    .sand4{
        grid-area: sand4;
    }
    .sand5{
        grid-area: sand5;
    }
    .sand6{
        grid-area: sand6;
    }


/* END GRAINS TEMPLATE */

/* ZBRUSH GRID TEMPLATE */
.zbrushGrid{
    grid-template-areas: "zbrushLeft zbrushUser zbrushRight";
    display:grid;
    grid-template-columns: repeat(3,33.33%);
    height:100%;
}
.zbrushImgContainer{
    overflow: hidden;
}
.zbrushLeft{
    grid-area:zbrushLeft;
}
.zbrushLeft img{
    margin-left:-1200px;
}
.zbrushRight img{
    margin-left:-800px;
}
.zbrushLeft img, .zbrushRight img{
    height:100%;
    object-fit: cover;
}

.zbrushUser{
    grid-area:zbrushUser;
    background-color: #1d1d1d;
}
.zbrushUser-arrange{
    display: flex;
    flex-direction:column;
    height:100%;
    justify-content: space-around;
}
.userDescription, .userVideo h2{
    text-align: center;
    color:white;
    font-size:2em;
    padding:10px;
}
.videoResponsive{
    position:relative;
    height:0;
    padding:0;
    overflow: hidden;
    padding-bottom:56.25%;
}
.videoZbrush{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    border:none;
    width:100%;
    height:100%;
}
.zbrushUser img{
    width:100%;
}
.zbrushRight{
    grid-area:zbrushRight;
    
}
/* ZBRUSH GRID TEMPLATE */
/* FOOTER */
/* .footer{
    position:fixed;
    bottom:0;
    width:100%;
} */
.footer{
    display:none;
}
.contact{
    background-color: var(--darkBlue);
    text-align: center;
    padding:10px 0;
    font-size:1.5em;
    height:130px;
}
.rights{
    background-color: var(--greenColor);
    display: flex;
    justify-content:center;
    align-items:center;
    height:80px;
    font-size:1.2em;
    padding:10px;
}
.footer p{
    color:#FFF;
}
.footer a{
    color:#FFF;
    text-decoration:underline;
}  
.footer img{
    width:80px;
    margin-left:10px;
    
}
/* FOOTER */